html,
body {
  height: 100%;
}
body {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.body-wrapper {
  flex: 1 0 auto;
}

.carousel-item {
  background-size: cover;
  background-position: center;
  h1 {
    margin: 20% auto;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 60%;
    border-radius: 5px;
  }
}

.card {
  border: none;
  width: 300px;
  margin: 10px;
}
.card i {
  position: absolute;
  top: 2px;
  right: 3px;
  color: $white;
}
.card-img-top {
  background-size: cover;
  max-width: 100%;
  height: 360px;
  background-position: center;
}
.card-body {
  padding: 0 2px;
}

.exclusive-item {
  padding: 10px 10px;
  margin: 20px 0;
  background-color: $secondary-color;
  .exlusive-item-img,
  .exlusive-item-details {
    max-width: 50%;
  }
  .exlusive-item-details p {
    width: 100%;
  }
  .btn-primary:hover {
    background-color: $accent-color !important;
    border-color: $accent-color;
  }
}

.card img {
  object-fit: cover;
}
.btn-primary {
  color: $accent-color !important;
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}
.btn-primary:hover {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  color: $white !important;
}

/* Smaller screens */

@media (max-width: 576px) {
  .carousel-item h1 {
    font-size: 25px;
    width: 100%;
  }

  .exclusive-item .exlusive-item-img,
  .exclusive-item .exlusive-item-details {
    max-width: 100%;
  }
}
