.product-details {
  width: 700px;
  img {
    object-fit: cover;
    height: 150px;
  }
  .product-details-img {
    background-size: cover;
    width: 100%;
    height: 700px;
    background-position: center;
  }

  .product-details-text {
    width: 500px;
  }
}

/* Smaller screens */

@media (max-width: 576px) {
  .product-details-img {
    max-height: 300px;
  }
  .product-details img {
    max-height: 80px;
  }
  .product-details-text {
    max-width: 90%;
  }
}
