$primary-color: #b7f450 !default;
$secondary-color: #ed8f1e !default;
$accent-color: #535b68 !default;
$background-color: #e0e0e0;
$background-color-grey: #a8a8a8;
$white: white;
$red: red;
$yellow-green: greenyellow;
$grey: grey;
$light-grey: lightgray;
$black: black;
